In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

In [8]:
# loading in data
df = pd.read_csv("/mnt/research/CMSE495-SS24-ICER/slurm_usage/DID_FINAL_SLURM_OCT_2023.csv",delimiter="|",nrows=1000)
df = df.drop(columns=["Unnamed: 0.1","Unnamed: 0"])
df.head()

,JobID,User,Group,Submit,Start,End,Elapsed,State,Account,AssocID,...,CPUTimeRAW,ReqCPUS,AllocCPUS,ReqMem,MaxRSS,ReqNodes,NNodes,NodeList,ReqTRES,AllocTRES
0,31496544,user_679,group_121,2023-03-21T11:13:45,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_489,...,0,28,0,21000M,NaN,1,1,None assigned,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
1,31497932,user_679,group_121,2023-03-21T11:31:18,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_489,...,0,28,0,21000M,NaN,1,1,None assigned,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
2,31993628,user_105,group_114,2023-03-22T18:19:12,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_661,...,0,12,0,150G,NaN,1,1,None assigned,"billing=23347,cpu=12,gres/gpu=8,mem=150G,node=1",NaN
3,39087660,user_652,group_054,2023-04-04T13:09:10,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_557,...,0,640,0,20G,NaN,10,10,None assigned,"billing=3112,cpu=640,mem=20G,node=10",NaN
4,59062820,user_188,group_046,2023-05-08T09:58:20,2024-01-01T00:58:57,2024-01-01T00:59:06,00:00:09,COMPLETED,account_017,assocID_676,...,360,40,40,8G,NaN,1,1,skl-029,"billing=1245,cpu=40,mem=8G,node=1","billing=1245,cpu=40,mem=8G,node=1"

In [15]:
df.keys()

Index(['JobID', 'User', 'Group', 'Submit', 'Start', 'End', 'Elapsed', 'State',
       'Account', 'AssocID', 'Partition', 'Timelimit', 'UserCPU', 'SystemCPU',
       'TotalCPU', 'CPUTime', 'CPUTimeRAW', 'ReqCPUS', 'AllocCPUS', 'ReqMem',
       'MaxRSS', 'ReqNodes', 'NNodes', 'NodeList', 'ReqTRES', 'AllocTRES'],
      dtype='object')

In [27]:
def time_to_int(x):
    """
    Breaks up SLURM timestamps to a list of integers

    args:
        x (str) - string of time in 'YYYY-MM-DDTHH:MinMin:SS'
    
    returns:
        list - contains integer values of year, month, day
                hours, minutes and seconds in that order
    """
    year = x[0:4]
    month = x[5:7]
    day = x[8:10]
    hr = x[11:13]
    mins = x[14:16]
    sec = x[17:19]

    return [int(year), int(month), int(day), int(hr), int(mins), int(sec)]

def elapsed_to_secs(x):
    """
    Breaks up SLURM elapsed column to seconds

    args:
        x = string of time in 'YYYY-MM-DDTHH:MinMin:SS'
    
    returns:
        seconds (int) - number seconds elapsed since start of job
    """
    hr = int(x[0:4])
    mins = int(x[5:7])
    sec = int(x[8:10])

    return hr*3600 + mins*60 + sec

In [ ]:
elapsed_sec =

In [8]:
# creating subset of the data that we want in the knn
sub_feat=['Submit','Start','End','Elapsed','State','CPUTimeRAW','ReqCPUS','AllocCPUS','ReqMem','ReqNodes','NNodes']